@import "mixins.scss";
@import "../navigation";
@import "../site-list";


.form-intro {
    display: block;
    background-image: url(/img/photo-bg-320.png);
    background-size: 320px 460px;
    background-repeat: no-repeat;
    background-position: 0 0;
    color: #fff;
    // min-height: 300px;
    width: 320px;
    min-height: 171px;
}


.form-intro  .intro__phrase {
    display: block;

    font-family: Open Sans Light;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    padding-top: 33px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 52px;
}

.navigation--opened .form-intro {
    min-height: 237px;
    background-position: 0 40px;
}


@media screen and (min-width: 660px) {
        .form-intro {
        display: block;
        background-image: url(/img/photo-bg-660.png);
        background-size: 660px 730px;
        background-repeat: no-repeat;
        background-position: 0 -110px;
        color: #fff;
        width: 660px;
        min-height: 330px;
    }
    

    .form-intro  .intro__phrase  {

        font-size: 50px;
        padding: 0 50px;
        padding-top: 55px;
        // padding-bottom: 75px;
        // padding-left: 55px;
        // padding-right: 55px;
        box-sizing: border-box;
        // margin-bottom: 28px;
        text-align: center;
        width: 620px;
        margin: 0 auto;
    }
    
    
}

@media screen and (min-width: 1200px) {
    .form-intro {
    display: block;
    background-image: url(/img/photo-bg-1200.png);
    background-size: 1200px 853px;
    background-repeat: no-repeat;
    background-position: 0 0;
    color: #fff;
    min-height: 277px;
    width: 1200px;
    }


    .form-intro  .intro__phrase {

        font-size: 50px;
        padding-top: 68px;
        padding-bottom: 99px;
        text-align: center;
        width: 940px;
        margin: 0 auto;
    }

    .application .application__button {
        display: block;
        font-family: Open Sans;
        font-size: 18px;
        line-height: 18px;
        font-weight: 700;
        background-color: transparent;
        color: #fff;
        text-align: center;
        
        width: 280px;
        
        border-radius: 30px;
        border: 3px solid #fff;
        padding: 16px 0;
        margin: 0 auto;
        margin-bottom: 32px;
    }

}







// @import "mixins.scss";
// @import "../navigation";
// @import "../site-list";

// .photo-header__shadow {
//     background-color: rgba($color: #000000, $alpha: 0.3);
// }


// header {
//     // background-color: #1d2631;
//     background-color: transparent;


// }

// .photo-header {
//     background-image: url(/img/bg-header.png);
//     background-size: 320px 66px;
//     background-repeat: no-repeat;
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;

    
// }



// .header-logo .logo-small {
//     padding: 19px 0;
//     padding-left: 20px;
// }

// .logo-middle {
//     display: none;
// }

// .logo-large {
//     display: none;
// }


// @media screen and (min-width: 660px) {
//     .photo-header {
//         background-size: 660px 110px;
//         background-image: url(/img/bg-header-660.png);
//         background-repeat: no-repeat;
//     }

    
//     .header-logo .logo-small {
//         display: none;
//     }

//     .logo-middle {
//         display: block;
//         padding: 19px 0;
//         padding-left: 20px;
//     }
// }

// @media screen and (min-width: 1200px) {
//     .photo-header {
//         background-size: 1200px 110px;
//         background-image: url(/img/bg-header-1200.png);
//         background-repeat: no-repeat;
//         display: flex;
//         justify-content: space-between;
//         padding: 0 130px;
//     }

    
//     .header-logo .logo-small {
//         display: none;
//     }

//     .logo-middle {
//         display: none;
//     }
//     .logo-large {
//         display: block;
//     }

//     .photo-header .header-logo {
//         align-self: center;
//     }
// }


// // .navigation {
// //     // padding: 20px 20px;
// //     box-sizing: border-box;
// //    display: flex;
// //    flex-wrap: wrap;
// //    justify-content: space-between;
// //    align-items: center;
// // }



// // .burger__wrapper {
// //     // width: 20px;
// // }

// // .burger-menu {
// //     width: 20px;
// //     height: 20px;
// // }


// // table version
// /*
// @media screen and (min-width: 660px) {
//     .navigation {
//         width: 660px;
//         margin: 0 auto;
//         padding-left: 20px;
//         padding-right: 20px;
//         padding-top: 27px;
//         padding-bottom: 44px;
//         box-sizing: border-box;
//        display: flex;
//        flex-wrap: wrap;
//        justify-content: space-between;
//        align-items: center;
//     }
//     .logo-small {
//         display: none;
//     }
//     .logo-middle {
//         display: block;
//     }
//     .burger-menu {
//         width: 50px;
//         height: 24px;
//     }
// }
// */