@import "../scaffolding";

.visually-hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-form {
    background-color: #fff;
    // padding: 0 20px;
}

.section-form .section-form__title {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 30px;
    font-family: Open Sans;
    font-weight: 400;
    color: #283645;
    padding: 0 20px;
    padding-top: 52px;
    padding-bottom: 50px;
    background-color: #fff;
    text-align: center;
}

.section-form__title .mobile-phrase {
    display: none;
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    margin: 0;
    padding: 0;
}

.section-form__full-name {
    padding-bottom: 42px;
    display: block;
    padding-right: 20px;
    padding-left: 20px;
}

.section-form__full-name p {
    margin: 0;
    padding: 0;
}

.section-form__full-name label {
    margin-bottom: 11px;
    display: block;
    font-family: Open Sans;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #d22856;
    text-transform: uppercase;
    margin-left: 23px;
}

.section-form__full-name .full-name__input {
    display: block;
    width: 280px;
    font-family: Open Sans;
    font-size: 18px;
    line-height: 30px;
    color: #283645;
    font-weight: 400;
    // margin: 0 20px;
    margin-bottom: 25px;
    padding: 14px;
    padding-left: 22px;
    box-sizing: border-box;
}

.section-form__full-name .full-name__input:last-child {
    margin-bottom: 0;
}

.achievements {
    display: block;
    background-color: #f2f2f2;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.achievements .achievements__title {
    // width: 280px;
    display: block;
    font-family: Open Sans;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #d22856;
    text-align: center;
    text-transform: uppercase;
    // padding-top: 40px;
    // padding-bottom: 40px;
    // padding-left: 30px;
    // padding-right: 30px;
    box-sizing: border-box;
}

.achievements__list {
    list-style: none;
    padding: 0;
    margin: 0;
} 

.achievements__list .achievements__item {
    // padding-left: 70px;
    width: 280px;

    font-family: Open Sans;
    font-size: 18px;
    line-height: 30px;
    color: #283645;
    margin-bottom: 43px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.achievements__checkbox {
    position: relative;

    padding-left: 70px;

    cursor: pointer;
    min-height: 40px;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
    box-sizing: border-box;
}

.achievements__checkbox {
    position: relative;
    // padding-left: 30px;

    cursor: pointer;
}

.achievements__checkbox:hover,
.achievements__checkbox:active {
    color: #4d4d4d;
}

.achievements__checkbox input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: 0;
    left: 0;

    width: 39px;
    height: 39px;
    border: 2px solid rgb(125, 125, 128);
    box-sizing: border-box;
}

.achievements__checkbox input[type="checkbox"]:focus + .checkbox-indicator {
    border-color: #4d4d4d    ;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.achievements__checkbox input[type="checkbox"]:hover + .checkbox-indicator {
    background-image: url(/img/tick-png.png);
    background-repeat: no-repeat;
    background-position: 8px 8px;
}

.achievements__checkbox input[type="checkbox"]:checked + .checkbox-indicator {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    background-image: url(/img/tick-png.png);
    background-repeat: no-repeat;
    background-position: 8px 8px;
    // opacity: 0.1;
}


.contact-information__title {
    display: none;
}

.contact-information {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
}

.contact-information .contact-information__phone-wrapper, 
.contact-information .contact-information__email-wrapper {
    display: block;
    padding: 0;
    margin: 0;
}

.contact-information label {
    font-family: Open Sans;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #d22856;
    text-transform: uppercase;
    margin-left: 22px;
}

.contact-information label:nth-child(2) {
    padding-top: 20px;
 }


.contact-information .phone-input,
.contact-information .email-input {
    width: 280px;
    font-family: Open Sans;
    font-size: 18px;
    line-height: 30px;
    color: #283645;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 22px;
    box-sizing: border-box;
    margin-top: 11px;
}

.contact-information .phone-input {
    margin-bottom: 23px;
}

.application {
    // background-color: #f2f2f2;

}

.application .application-title {
    font-family: Open Sans;
    font-size: 14px;
    line-height: 18px;
    color: #d22856;
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 39px;
    padding-bottom: 36px;
}

.application__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.application__list .application-item {
    padding-left: 20px;
}

.application-radio {
    position: relative;
    padding-left: 60px;

    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    padding-top: 9px;
    padding-bottom: 9px;
}

.application-radio:hover,
.application-radio:active {
    color: #4d4d4d;
}

.application-radio input[type="radio"] + .radio-indicator {
    position: absolute;
    top: 0;
    left: 0;

    width: 39px;
    height: 39px;
    background-color: #fff;
    border: 2px solid #f2f2f2;
    border-radius: 50%;
}

.application-radio input[type="radio"]:focus + .radio-indicator {
    border-color: #4d4d4d    ;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.application-radio input[type="radio"]:hover + .radio-indicator {
    position: absolute;
    top: 0;
    left: 0;

    width: 39px;
    height: 39px;
    background-color: #fff;
    border: 2px solid #f2f2f2;
    border-radius: 50%;
    background-image: url(/img/radio-app.png);
    background-repeat: no-repeat;
    background-position: 12px 10px;
}

.application-radio input[type="radio"]:checked + .radio-indicator {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 39px;
    height: 39px;
    background-color: #fff;
    border-radius: 2px solid #f2f2f2;
    border-radius: 50%;

    background-image: url(/img/radio-app.png);
    background-repeat: no-repeat;
    background-position: 12px 10px;
    opacity: 0.1;
}


// .describe-emotions {

// }

.describe-emotions  .describe-emotions__title {
    font-family: Open Sans;
    font-size: 14px;
    line-height: 30px;
    color: #d22856;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 16px;
}

.describe-emotions textarea {
    display: block;
    width: 240px;
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 48px;
}

.bottom-form__wrapper  .send-form {
    display: block;
    width: 280px;
    font-family: Open Sans;
    font-size: 18px;
    line-height: 30px;
    color: #283645;
    padding-top: 22px;
    padding-bottom: 22px;
    border: none;
    margin: 0 auto;
    background-color: #2aab6d;
    color: #fff;
    text-transform: uppercase;
}

.remark-mobile {
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 43px;
    padding-bottom: 62px;
    font-family: Open Sans;
    font-size: 14px;
    line-height: 30px;
    color: #283645;
}

.remark-hide {
    display: none;
}



@media screen and (min-width: 660px) {
    .section-form .section-form__title {
        display: block;
        width: 500px;
        margin: 0 auto;
        font-size: 18px;
        padding: 0 20px;
        padding-top: 92px;
        padding-bottom: 75px;
    }
    
    .section-form__title .mobile-phrase {
        display: block;
    }


    
    .section-form__full-name p {
        margin: 0;
        padding: 0;
        width: 620px;
        display: flex;
        align-items: center;
    }

    .section-form__full-name label {
        margin-bottom: 0;
        // display: block;
        // width: 76px;
        // font-family: Open Sans;
        // font-size: 14px;
        // line-height: 30px;
        // font-weight: 400;
        // color: #d22856;
        // text-transform: uppercase;
        margin-right: 20px;
        margin-left: 0;
    }
    
    .section-form__full-name .full-name__input {
        // display: block;
        width: 280px;
        font-family: Open Sans;
        font-size: 18px;
        line-height: 30px;
        color: #283645;
        font-weight: 400;
        // margin: 0 20px;
        margin-bottom: 25px;
        padding: 14px;
        padding-left: 22px;
        box-sizing: border-box;
        flex-grow: 1;
    }

    .section-form__full-name .full-name__name {
        margin-top: 52px;
        margin-bottom: 52px;
    }

    .section-form__full-name {
        padding-bottom: 62px;
        display: block;
        padding-right: 20px;
        padding-left: 20px;
    }

    .section-form__fieldset-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .section-form__fieldset-wrapper .section-form__full-name {
        order: 1;
    }

    .section-form__fieldset-wrapper .application {
        order: 2;
        background-color: #fff;
        width: 660px;
    }

    .section-form__fieldset-wrapper .contact-information {
        order: 3;
    }
    .section-form__fieldset-wrapper .achievements {
        order: 4;
    }
    .section-form__fieldset-wrapper .describe-emotions {
        order: 5;
    }

    .section-form__fieldset-wrapper .bottom-form__wrapper {
        order: 6;
    }

    // application

    .application {
        border: 3px solid #eee;

        margin-left: 20px;
        margin-right: 20px;
        // margin-top: 60px;
        width: 620px;
    }


    .application .application-title {
        font-family: Open Sans;
        font-size: 14px;
        line-height: 18px;
        color: #d22856;
        text-align: center;
        padding-left: 70px;
        padding-right: 70px;
        padding-top: 0;
        padding-bottom: 0;
        margin: 0 auto;
    }
    
    .application__list {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-left: 60px;
        margin-top: 46px;
        margin-bottom: 54px;
    }
    
    .application__list .application-item {
        // padding-left: 78px;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        min-height: 40px;
        align-items: center;
    }

    .application__list .application-item:nth-child(2) {
        margin-top: 36px;
        margin-bottom: 36px;
    }
    
    .application-radio {
        position: relative;
        padding-left: 60px;
        cursor: pointer;
        margin-top: 0;
        // margin-bottom: 36px;
        display: flex;
        padding-top: 0;
        padding-bottom: 0;
        min-height: 40px;
        align-items: center;
        
    }
    .application-radio:last-child {

        margin-bottom: 0;

    }
    
    .application-radio:hover,
    .application-radio:active {
        color: #4d4d4d;
    }
    
    .application-radio input[type="radio"] + .radio-indicator {
        position: absolute;
        top: 0;
        left: 0;
    
        width: 39px;
        height: 39px;
        background-color: #fff;
        border: 2px solid #f2f2f2;
        border-radius: 50%;
    }
    
    .application-radio input[type="radio"]:focus + .radio-indicator {
        border-color: #4d4d4d    ;
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
    }
    
    .application-radio input[type="radio"]:hover + .radio-indicator {
        position: absolute;
        top: 0;
        left: 0;
    
        width: 39px;
        height: 39px;
        background-color: #fff;
        border: 2px solid #f2f2f2;
        border-radius: 50%;
        background-image: url(/img/radio-app.png);
        background-repeat: no-repeat;
        background-position: 12px 10px;
    }
    
    .application-radio input[type="radio"]:checked + .radio-indicator {
        content: "";
    
        position: absolute;
        top: 0;
        left: 0;
    
        width: 39px;
        height: 39px;
        background-color: #fff;
        border-radius: 2px solid #f2f2f2;
        border-radius: 50%;
    
        background-image: url(/img/radio-app.png);
        background-repeat: no-repeat;
        background-position: 12px 10px;
        opacity: 0.1;
    }

    .contact-information {
        padding-top: 0;
        border: 3px solid #eee;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
        width: 620px;
        margin-top: 60px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .contact-information__title {
        display: block;
        font-family: Open Sans;
        font-size: 14px;
        line-height: 18px;
        color: #d22856;
        text-align: center;
        // padding-left: 70px;
        // padding-right: 70px;
        width: 260px;
        padding-top: 0;
        padding-bottom: 0;
        margin: 0 auto;
    }

    .contact-information .contact-information__phone-wrapper {
        display: flex;
        flex-wrap: wrap;
        position: relative;
            &::after {
                content: "";
                position: absolute;
        
                background-color: #e5e5e5;
        
                top: 40px;
                right: 54px;
                width: 62px;
                height: 64px;

                background-image: url(/img/phone.png);
                background-repeat: no-repeat;
                background-position: 22px 24px;
        }
    }

    .contact-information__phone-wrapper .phone-label {
        order: 2;
        margin-left: 78px;
    }
    .contact-information__phone-wrapper .phone-input {
        width: 500px;
        order: 1;
        margin-left: 60px;
        padding-right: 62px;
        border: 2px solid #e5e5e5;
        margin-bottom: 0;
        margin-bottom: 18px;
        margin-top: 0;
        margin-top: 40px;
    }

    .contact-information .contact-information__email-wrapper {
        display: flex;
        flex-wrap: wrap;
        position: relative;
            &::after {
                content: "";
                position: absolute;
        
                background-color: #e5e5e5;
        
                top: 35px;
                right: 54px;
                width: 62px;
                height: 64px;
                background-image: url(/img/mail.png);
                background-repeat: no-repeat;
                background-position: 22px 28px;
        }
    }

    .contact-information__email-wrapper .email-label {
        order: 2;
        margin-left: 78px;
        margin-bottom: 32px;
    }
    .contact-information__email-wrapper .email-input {
        width: 500px;
        margin-left: 60px;
        order: 1;
        border: 2px solid #e5e5e5;
        // margin-bottom: 66px;
        margin-top: 35px;
        margin-bottom: 18px;
    }

    //achievements

    .achievements {
        width: 640px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 60px;

        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        border: 3px solid #eee;

        background-color: #fff;
    }

    .achievements__title {
        width: 436px;
    }

    .achievements .achievements__list {
        margin-left: 58px;
    }

     .achievements__list .achievements__item:first-child {
        margin-top: 46px;

    }

    //describe-emotions

    .describe-emotions {
        // padding-top: 0;
        border: 3px solid #eee;

        margin-left: 20px;
        margin-right: 20px;
        margin-top: 60px;
        width: 620px;
    }

    .describe-emotions .describe-emotions__title {
        width: 260px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .describe-emotions textarea {
        margin-top: 40px;
        margin-bottom: 0;
        margin-bottom: 51px;
        width: 500px;
    }

    .bottom-form__wrapper {
        margin-top: 67px;
        width: 620px;
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .bottom-form__wrapper .send-form {
        margin: 0;
    }

    .remark-mobile {
        text-align: right;
        padding-top: 0;
        padding-bottom: 0;
        align-self: center;
    }
}

@media screen and (min-width: 1200px) {
    .section-form .section-form__title {
        display: block;
        width: 820px;
        margin: 0 auto;
        // font-size: 18px;
        // padding: 0 20px;
        padding-top: 98px;
        padding-bottom: 76px;
    }
    
    .section-form__title .mobile-phrase {
        display: inline-block;
    }

    .section-form__fieldset-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 120px;
        margin-right: 120px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .section-form__fieldset-wrapper .section-form__full-name {
        flex-basis: 436px;
        padding: 0;
        // width: 436px;
        align-self: flex-end;
    }

    .section-form__full-name p {
        margin: 0;
        padding: 0;
        width: 436px;
        display: flex;
        align-items: center;
    }

    .section-form__full-name label {
        margin-bottom: 0;
        // display: block;
        // width: 76px;
        // font-family: Open Sans;
        // font-size: 14px;
        // line-height: 30px;
        // font-weight: 400;
        // color: #d22856;
        // text-transform: uppercase;
        margin-right: 20px;
        margin-left: 0;
    }
    
    .section-form__full-name .full-name__input {
        // display: block;
        width: 280px;
        font-family: Open Sans;
        font-size: 18px;
        line-height: 30px;
        color: #283645;
        font-weight: 400;
        // margin: 0 20px;
        margin-bottom: 25px;
        padding: 0;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 22px;
        box-sizing: border-box;
        flex-grow: 1;
    }

    .section-form__full-name .full-name__name {
        margin-top: 54px;
        margin-bottom: 52px;
    }

    .section-form__full-name {
        padding-bottom: 62px;
        display: block;
        padding-right: 20px;
        padding-left: 20px;
    }

    .section-form__fieldset-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .section-form__fieldset-wrapper .section-form__full-name {
        order: 1;
    }

    .section-form__fieldset-wrapper .application {
        order: 2;
        background-color: #fff;
        width: 660px;
    }

    .section-form__fieldset-wrapper .contact-information {
        order: 3;
    }
    .section-form__fieldset-wrapper .achievements {
        order: 4;
    }
    .section-form__fieldset-wrapper .describe-emotions {
        order: 5;
    }

    .section-form__fieldset-wrapper .bottom-form__wrapper {
        order: 6;
    }

    // application

    .application {
        border: 3px solid #eee;

        margin-left: 0;
        margin-right: 0;
        // margin-top: 60px;
        // width: 436px;
        flex-basis: 436px;
    }


    .application .application-title {
        font-family: Open Sans;
        font-size: 14px;
        line-height: 18px;
        color: #d22856;
        text-align: center;
        padding-left: 70px;
        padding-right: 70px;
        padding-top: 0;
        padding-bottom: 0;
        margin: 0 auto;
    }
    
    .application__list {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-left: 60px;
        margin-top: 46px;
        margin-bottom: 54px;
    }
    
    .application__list .application-item {
        // padding-left: 78px;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        min-height: 40px;
        align-items: center;
    }

    .application__list .application-item:nth-child(2) {
        margin-top: 36px;
        margin-bottom: 36px;
    }
    
    .application-radio {
        position: relative;
        padding-left: 60px;
        cursor: pointer;
        margin-top: 0;
        // margin-bottom: 36px;
        display: flex;
        padding-top: 0;
        padding-bottom: 0;
        min-height: 40px;
        align-items: center;
        
    }
    .application-radio:last-child {

        margin-bottom: 0;

    }
    
    .application-radio:hover,
    .application-radio:active {
        color: #4d4d4d;
    }
    
    .application-radio input[type="radio"] + .radio-indicator {
        position: absolute;
        top: 0;
        left: 0;
    
        width: 39px;
        height: 39px;
        background-color: #fff;
        border: 2px solid #f2f2f2;
        border-radius: 50%;
    }
    
    .application-radio input[type="radio"]:focus + .radio-indicator {
        border-color: #4d4d4d    ;
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
    }
    
    .application-radio input[type="radio"]:hover + .radio-indicator {
        position: absolute;
        top: 0;
        left: 0;
    
        width: 39px;
        height: 39px;
        background-color: #fff;
        border: 2px solid #f2f2f2;
        border-radius: 50%;
        background-image: url(/img/radio-app.png);
        background-repeat: no-repeat;
        background-position: 12px 10px;
    }
    
    .application-radio input[type="radio"]:checked + .radio-indicator {
        content: "";
    
        position: absolute;
        top: 0;
        left: 0;
    
        width: 39px;
        height: 39px;
        background-color: #fff;
        border-radius: 2px solid #f2f2f2;
        border-radius: 50%;
    
        background-image: url(/img/radio-app.png);
        background-repeat: no-repeat;
        background-position: 12px 10px;
        opacity: 0.1;
    }

    //contact
    .contact-information {
        padding-top: 0;
        border: 3px solid #eee;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
        // width: 620px;
        flex-basis: 940px;
        margin-top: 60px;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .contact-information__title {
        display: block;
        font-family: Open Sans;
        font-size: 14px;
        line-height: 18px;
        color: #d22856;
        text-align: center;
        // padding-left: 70px;
        // padding-right: 70px;
        width: 260px;
        padding-top: 0;
        padding-bottom: 0;
        margin: 0 auto;
    }

    .contact-information .contact-information__phone-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 375px;
        // // flex-basis: 375px;
        flex-grow: 0;
        position: relative;
            &::after {
                content: "";
                position: absolute;
        
                background-color: #e5e5e5;
        
                top: 21px;
                right: 0;
                width: 62px;
                height: 64px;

                background-image: url(/img/phone.png);
                background-repeat: no-repeat;
                background-position: 22px 24px;
        }
    }

    .contact-information__phone-wrapper .phone-label {
        order: 2;
        margin-left: 0;
        margin-left: 80px;
    }
    .contact-information__phone-wrapper .phone-input {
        // width: 375px;
        flex-basis: 375px;
        order: 1;
        margin-left: 60px;
        padding-right: 62px;
        border: 2px solid #e5e5e5;
        margin-bottom: 0;
        margin-bottom: 18px;
        margin-top: 0;
        margin-top: 21px;
    }

    .contact-information .contact-information__email-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 375px;
        // flex-basis: 375px;
        position: relative;
            &::after {
                content: "";
                position: absolute;
        
                background-color: #e5e5e5;
        
                top: 35px;
                right: 0;
                width: 62px;
                height: 64px;
                background-image: url(/img/mail.png);
                background-repeat: no-repeat;
                background-position: 22px 28px;
        }
    }

    .contact-information__email-wrapper .email-label {
        order: 2;
        margin-left: 80px;
        margin-bottom: 21px;
    }
    .contact-information__email-wrapper .email-input {
        // width: 500px;
        flex-basis: 375px;
        margin-left: 60px;
        order: 1;
        border: 2px solid #e5e5e5;
        // margin-bottom: 66px;
        margin-top: 35px;
        margin-bottom: 18px;
    }

    //achievements

    .achievements {
        width: 940px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 60px;

        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        border: 3px solid #eee;

        background-color: #fff;
    }

    .achievements__title {
        width: 260px;
        text-transform: uppercase;
    }

    .achievements .achievements__list {
        margin-left: 0;
        margin-left: 60px;
        margin-right: 60px;
        margin-top: 46px;
        margin-bottom: 12px; //55px от чекбокса до нижней границы - 43px отступ для всех чекбоксов = 12px
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 820px;

    }

     .achievements__list .achievements__item:first-child {
        margin-top: 0;
    }
    .achievements__list .achievements__item {
        // margin-bottom: 0;
        width: 260px;
        // align-items: center;
    }

    .achievements__checkbox {
        padding-left: 60px;
    }

    //describe-emotions

    .describe-emotions {
        // padding-top: 0;
        border: 3px solid #eee;

        margin-left: 0;
        margin-right: 0;
        margin-top: 60px;
        width: 940px;
    }

    .describe-emotions .describe-emotions__title {
        width: 260px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .describe-emotions textarea {
        margin-top: 40px;
        margin-bottom: 0;
        margin-bottom: 51px;
        margin-left: 60px;
        margin-right: 60px;
        width: 780px;
    }

    .bottom-form__wrapper {
        margin-top: 67px;
        width: 940px;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .bottom-form__wrapper .send-form {
        margin: 0;
    }

    .remark-mobile {
        text-align: right;
        padding-top: 0;
        padding-bottom: 0;
        align-self: center;
        font-size: 14px;
        line-height: 30px;
        font-family: Open Sans;
        color: #283645;
    }

    .bottom-form__wrapper .remark-hide {
        display: inline-block;
    }
}