.section-photos {
    background-color: #fff;
}

.section-photos .section-photos__title {
    margin: 0;
    padding: 0;
    display: block;

    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: #283645;
    text-align: center;

    width: 280px;

    padding-top: 52px;
    padding-bottom: 56px;
    margin: 0 auto;
}

.section-photos .section-photos__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.section-photos__item--first-post .section-photos__image-mobile--first-post {
    display: block;
    width: 320px;
    height: 137px;
}

.section-photos__item--first-post .section-photos__image-tablet--first-post {
    display: none;
}

.section-photos__item--first-post .section-photos__image-desktop--first-post {
    display: none;
}

.section-photos__list .section-photos__item:first-child  {
    margin: 0 auto;
    background-color: #f2f2f2;
    width: 280px;
    margin-top: 0;
}

.section-photos__list .section-photos__item  {
    margin: 0 auto;
    background-color: #f2f2f2;
    width: 280px;
    margin-top: 20px;
}

.section-photos__list .section-photos__image-mobile {
    display: block;
    width: 280px;
    height: 180px;
}

.section-photos__list .section-photos__image-tablet {
    display: none;
}

.section-photos__list .section-photos__image-desktop {
    display: none;
}


// .section-photos__list .section-photos__item  {
//     margin: 0 auto;
//     background-color: #f2f2f2;
//     width: 280px;
// }

.section-photos__list .text-block {
    width: 280px;
    margin: 0 auto;
    background-color: #f2f2f2;
    padding: 0 17px;
    box-sizing: border-box;
}

.section-photos__list .name-time__wrapper {
    display: flex;
    padding-top: 23px;
    padding-bottom: 8px;
}


.section-photos__item .author {
    font-family: Open Sans;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    color: #283645;
    margin-right: 4px;
}

.section-photos__item time {
    font-family: Open Sans Light;
    font-size: 12px;
    line-height: 24px;
    color: #283645;
}

.section-photos__list .photo-post__text {
    margin: 0;
    padding: 0;
    display: block;

    font-family: Open Sans;
    font-size: 14px;
    line-height: 24px;
    color: #283645;
    font-weight: 400;

    margin-bottom: 18px;
}

.section-photos__list .likes {
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
}

.section-photos__list .photo-post__like,
.section-photos__list .photo-post__like-counter {
    
    font-family: Open Sans;
    font-size: 12px;
    line-height: 24px;
    color: #d22856;
}


// .section-photos__list .photo-post__like-counter {
//     font-family: Open Sans;
//     font-size: 12px;
//     line-height: 24px;
//     color: #d22856;
// }



@media screen and (min-width: 660px) {
    .section-photos {
        background-color: #fff;
    }
    
    .section-photos .section-photos__title {
        // margin: 0;
        // padding: 0;
        // display: block;
    
        // font-family: Open Sans;
        font-size: 18px;
        // font-weight: 400;
        // line-height: 30px;
        // color: #283645;
        // text-align: center;
    
        width: 500px;
    
        padding-top: 99px;
        padding-bottom: 79px;
        margin: 0 auto;
    }
    
    .section-photos .section-photos__list {
        list-style: none;
        margin: 0;
        padding: 0;

        width: 620px;

        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .section-photos__list .section-photos__item--first-post {
        flex-grow: 1;
        flex-basis: 620px;
    }



    
    .section-photos__list .section-photos__item:first-child  {
        margin: 0 auto;
        background-color: #f2f2f2;
        // width: 280px;
        margin-top: 0;
    }
    
    .section-photos__list .section-photos__item  {
        display: block;
        margin: 0 auto;
        background-color: #f2f2f2;
        width: 300px;
        // height: 300px;
        margin-top: 20px;
    }
    
    .section-photos__list .section-photos__image-mobile {
        display: none;
    }
    
    .section-photos__list .section-photos__image-tablet {
        display: block;
        width: 300px;
        height: 300px;
    }
    
    .section-photos__list .section-photos__image-desktop {
        display: none;
    }

    .section-photos__item--first-post .section-photos__image-mobile--first-post {
        display: none;
    }
    
    .section-photos__item--first-post .section-photos__image-tablet--first-post {
        display: block;
        width: 660px;
        height: 510px;
    }
    
    .section-photos__item--first-post .section-photos__image-desktop--first-post {
        display: none;
    }

    
    
    // .section-photos__list .section-photos__item  {
    //     margin: 0 auto;
    //     background-color: #f2f2f2;
    //     width: 280px;
    // }
    
    .section-photos__list .text-block {
        width: 300px;
        margin: 0 auto;
        background-color: #f2f2f2;
        padding: 0;
        padding: 0 25px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }


    .section-photos__list .text-block--first {
        width: 620px;
        margin: 0 auto;
        background-color: #f2f2f2;
        padding: 0 25px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-top: 29px;
        padding-bottom: 28px;

    }


    
    .section-photos__list .name-time__wrapper {
        display: block;
        padding-top: 0;
        padding-bottom: 0;
        order: 0;
        width: 245px;
    }
    
    
    .section-photos__item .author {
        font-family: Open Sans;
        font-size: 14px;
        line-height: 24px;
        font-weight: bold;
        color: #283645;
        margin-right: 4px;
    }
    
    .section-photos__item time {
        font-family: Open Sans Light;
        font-size: 12px;
        line-height: 24px;
        color: #283645;
    }
    
    .text-block .photo-post__text {
        margin: 0;
        padding: 0;
        display: block;
        width: 245px;
    
        font-family: Open Sans;
        font-size: 14px;
        line-height: 24px;
        color: #283645;
        font-weight: 400;
    
        margin-bottom: 0;
    }

    .text-block--first .photo-post__text {
        margin: 0;
        padding: 0;
        display: block;
    
        font-family: Open Sans;
        font-size: 14px;
        line-height: 24px;
        color: #283645;
        font-weight: 400;
    
        margin-bottom: 0;
        order: 3;
        width: 620px;
    }

    .text-block .text-post__wrapper {
        display: flex;
        flex-wrap: wrap;
        min-height: 65px;
        align-items: flex-start;;
        padding-top: 29px;
        padding-bottom: 21px;
    }
    
    .text-block--first .text-post__wrapper {
        display: block;
        width: 620px;
    }
 
    
    .text-block--first .likes {
        margin: 0;
        padding: 0;
        padding-bottom: 0;
        order: 2;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .text-block--first .photo-post__like,
    .text-block--first .photo-post__like-counter {
        
        font-family: Open Sans;
        font-size: 12px;
        line-height: 24px;
        color: #d22856;
        order: 1;
    }

    
    
    .text-block--first .like-img {
        order: 2;
        width: 13px;
        height: 12px;
        margin-left: 10px;
    }
    // .section-photos__list .photo-post__like-counter {
    //     font-family: Open Sans;
    //     font-size: 12px;
    //     line-height: 24px;
    //     color: #d22856;
    // }
}



@media screen and (min-width: 1200px) {
    .section-photos {
        background-color: #fff;
    }
    
    .section-photos .section-photos__title {
        // margin: 0;
        // padding: 0;
        // display: block;
    
        // font-family: Open Sans;
        // font-size: 18px;
        // font-weight: 400;
        // line-height: 30px;
        // color: #283645;
        // text-align: center;
    
        width: 600px;
        padding-right: 100px;
        padding-left: 100px;
        padding-top: 99px;
        padding-bottom: 79px;
        margin: 0 auto;
    }
    
    .section-photos .section-photos__list {
        list-style: none;
        margin: 0;
        padding: 0;

        width: 940px;

        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    

    .section-photos__list .section-photos__item--first-post {
        flex-grow: 1;
        flex-basis: 1200px;
        width: 1200px;
    }



    
    .section-photos__list .section-photos__item:first-child  {
        margin: 0 auto;
        background-color: #f2f2f2;
        // width: 280px;
        margin-top: 0;
    }
    
    .section-photos__list .section-photos__item  {
        display: block;
        margin: 0 auto;
        background-color: #f2f2f2;
        width: 300px;
        // height: 300px;
        margin-top: 20px;
    }
    
    .section-photos__list .section-photos__image-mobile {
        display: none;
    }
    
    .section-photos__list .section-photos__image-tablet {
        display: none;
    }
    
    .section-photos__list .section-photos__image-desktop {
        display: block;
        width: 300px;
        height: 300px;
    }

    .section-photos__item--first-post .section-photos__image-mobile--first-post {
        display: none;
    }
    
    .section-photos__item--first-post .section-photos__image-tablet--first-post {
        display: none;
    }
    
    .section-photos__item--first-post .section-photos__image-desktop--first-post {

        display: block;
        width: 1200px;
        height: 510px;
    }

    
    
    // .section-photos__list .section-photos__item  {
    //     margin: 0 auto;
    //     background-color: #f2f2f2;
    //     width: 280px;
    // }
    
    .section-photos__list .text-block {
        width: 300px;
        margin: 0 auto;
        background-color: #f2f2f2;
        padding: 0;
        padding: 0 25px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }


    .section-photos__list .text-block--first {
        width: 885px;
        margin: 0 auto;
        background-color: #f2f2f2;
        padding: 0 25px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-top: 29px;
        padding-bottom: 28px;

    }


    
    .section-photos__list .name-time__wrapper {
        display: block;
        padding-top: 0;
        padding-bottom: 0;
        order: 0;
        width: 245px;
    }
    
    
    .section-photos__item .author {
        font-family: Open Sans;
        font-size: 14px;
        line-height: 24px;
        font-weight: bold;
        color: #283645;
        margin-right: 4px;
        font-style: normal;
    }
    
    .section-photos__item time {
        font-family: Open Sans Light;
        font-size: 12px;
        line-height: 24px;
        color: #283645;
        text-transform: uppercase;
    }
    
    .text-block .photo-post__text {
        margin: 0;
        padding: 0;
        display: block;
        width: 245px;
    
        font-family: Open Sans;
        font-size: 14px;
        line-height: 24px;
        color: #283645;
        font-weight: 400;
    
        margin-bottom: 0;
    }

    .text-block--first .photo-post__text {
        margin: 0;
        padding: 0;
        display: block;
    
        font-family: Open Sans;
        font-size: 14px;
        line-height: 24px;
        color: #283645;
        font-weight: 400;
    
        margin-bottom: 0;
        order: 3;
        width: 885px;
    }

    .text-block .text-post__wrapper {
        display: flex;
        flex-wrap: wrap;
        min-height: 65px;
        align-items: flex-start;;
        padding-top: 29px;
        padding-bottom: 21px;
    }
    
    .text-block--first .text-post__wrapper {
        display: block;
        width: 620px;
    }
 
    
    .text-block--first .likes {
        margin: 0;
        padding: 0;
        padding-bottom: 0;
        order: 2;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .text-block--first .photo-post__like,
    .text-block--first .photo-post__like-counter {
        
        font-family: Open Sans;
        font-size: 12px;
        line-height: 24px;
        color: #d22856;
        order: 1;
        text-transform: uppercase;
    }

    
    
    .text-block--first .like-img {
        order: 2;
        width: 13px;
        height: 12px;
        margin-left: 10px;
    }
    // .section-photos__list .photo-post__like-counter {
    //     font-family: Open Sans;
    //     font-size: 12px;
    //     line-height: 24px;
    //     color: #d22856;
    //     text-transform: uppercase;
    // }
    .section-photos__list .photo-post__like {
    
    font-family: Open Sans;
    font-size: 12px;
    line-height: 24px;
    color: #d22856;
    text-transform: uppercase;
    }
}