body{
    margin: 0;
    padding: 0;
    min-width: 320px;
}

.container {
    background-color: chartreuse;
    width: 320px;
    margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 660px) {
    body {
        min-width: 660px;
    }
    
    .container {
        background-color: rgb(111, 0, 255);
        width: 660px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1200px) {
    body {
        min-width: 1200px;
    }
    
    .container {
        background-color: rgb(187, 255, 0);
        width: 1200px;
        margin: 0 auto;
    }
}